@charset "UTF-8";
@font-face {
  font-family: zh-CN;
  src: url(fonts/TaipeiSansTCBeta-Regular.ttf);
}
@font-face {
  font-family: AmaticSC;
  src: url(fonts/AmaticSC-Regular.ttf);
}

  *{
                        margin: 0;
                        padding:0;
                        font-family:zh-CN;
                        font-size:23px;
                        color:#747a82;
                        border-radius:10px;
                }
                  h1{
                        text-align:     center;
                        font-family:    AmaticSC;
                        font-size:      70px;
                        padding-top: 50px;
  /*                      border-bottom:  1px outset gray; */

                }
                 #taiwan{
                        position:       relative;
                        width:300px;
                        height:400px;
                        top:    3%;
                        left:   1%;
                }
                body{
                		background: rgba(72,113,165,1);
/*                       
                                           
                        background: #fff url(../picture/pin-board.png) center 0px  no-repeat;
                        background-size: cover;
                        background-position: center 0; 
     					background-repeat: no-repeat;  
     					background-attachment: scroll; 
      					-webkit-background-size: cover;  
      					-o-background-size: cover;  
      					-moz-background-size: cover;  
      					-ms-background-size: cover;
           */             

                }
              
                .weather-loc{
                        float:  left;
                        text-align:  center;  
                        background: #9bc7e6;    
                        border-radius:10px;   
                         width:  775px;
                         margin: 5px;
                }
              select,option,input{
                        margin:    25px;
                        padding:  10px;                      
                        border:    8px;
    					background: #d1ecff; 					   
                }  
                #locationSeries{width:186px; margin:50px auto; position:relative} 
   				#locationSeries p{width:120px; height:24px; line-height:24px; padding-left:5px; padding-right:13px;  
    								border:1px solid #a9c9e2; background:#e8f5fe url(arrow.gif) no-repeat right 4px;  
    								color:#807a62; cursor:pointer; float:left;position:absolute; left:50px} 
    			#locationSeries ul{width:138px; background:#e8f5fe; margin-top:2px; border:1px solid #a9c9e2;  
    								position:absolute; display:none ; left:50px;list-style:none} 
    			#locationSeries ul li{height:24px; line-height:24px; text-indent:10px;list-style:none} 
    			#locationSeries ul li a{display:block; height:24px; color:#807a62; text-decoration:none} 
    			#locationSeries ul li a:hover{background:#c6dbfc; color:#369} 

				#timeSeries{width:186px; margin:30px auto; position:relative} 
   				#timeSeries p{width:120px; height:24px; line-height:24px; padding-left:5px; padding-right:13px;  
    								border:1px solid #a9c9e2; background:#e8f5fe url(arrow.gif) no-repeat right 4px;  
    								color:#807a62; cursor:pointer} 
    			#timeSeries ul{width:138px; background:#e8f5fe; margin-top:2px; border:1px solid #a9c9e2;  
    								position:absolute; display:none;list-style:none} 
    			#timeSeries ul li{height:24px; line-height:24px; text-indent:10px;list-style:none} 
    			#timeSeries ul li a{display:block; height:24px; color:#807a62; text-decoration:none} 
    			#timeSeries ul li a:hover{background:#c6dbfc; color:#369} 
/*				#submit{ width:138px; height:26px;line-height:24px; border:1px solid #a9c9e2;
							 background:#e8f5fe; color:#807a62; cursor:pointer}			 */
                 .col-day{
                        width:  225px;
                        height: 222px;
 /*                       border: 1px outset  gray; */
                        margin: 10px;
  /*                      border-radius: 50px; */
                        float:left;
                /*    background: url("../picture/memo.png") center no-repeat;    
                    background-size: 200px 295px; */
                    background: #d1ecff;   
                }

                  .weather-days img{
                        width:150px;
                        height:150px;
                        margin: 5px;
                }                                                  
               .local-weather{    
               width:  775px;      
                text-align: center;
                float:left;
                background: #9bc7e6;
                margin: 5px;
                }
                .weather-pic{
                		width:  350px;
                        height: 400px;
 /*                       border: 1px outset  gray; */
                        margin: 10px;
  /*                      border-radius: 50px; */
                        float:left;
          /*              background: url("../picture/memo2_tall.png") center no-repeat;
                        background-size : 230px 400px;
                        text-indent : -36px ; */
                       	background: #d1ecff;
                }
                .weather-pic img{
                 		width:  300px;
                        height: 350px;                      
                }
		/* these styles are for the demo, but are not required for the plugin */
	